@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


@property --background-color {
    syntax: '<color>';
    inherits: false;
    /* initial-value: #F1F2F4; */
    initial-value: #ededed;
}

@property --text-color {
    syntax: '<color>';
    inherits: false;
    initial-value: #1c1c1c;
}

@property --border-color {
    syntax: '<color>';
    inherits: false;
    initial-value: #b8b8b8;
}

html, body {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    font-family: 'Inter', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

h1,h2,h3,h4,h5,h6 {
    color: var(--text-color);
}
