@property --border-color {
    syntax: '<color>';
    inherits: false;
    initial-value: #f1f1f1;
}

.container {
    margin: auto;
    padding: 0 15px;
    max-width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    --background-color: #fff;
    background-color: var(--background-color);
}

.header {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}

.form {
    padding: 100px 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border: 2px solid var(--border-color);
    border-radius: 40px;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
}

.input input {
    padding: 10px;
    width: 400px;
    border: 2px solid var(--border-color);
    border-radius: 10px;
    font-weight: 500;
}

.button {
    width: 400px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1C1C1C;
    color: #ffffff;
    font-weight: 500;
    border-radius: 10px;
    transition: ease-in-out .2s;
}

.button:hover {
    background: #363636;
}
