.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 80px;
    --background-color: #fff;
    background-color: var(--background-color);
    border-radius: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.header {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}

.description {
    margin-bottom: 60px;
    --text-color: #47484C;
    color: var(--text-color);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputs {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    gap: 20px;
}

.inputs input {
    width: 400px;
    padding: 10px;
    border: 2px solid #eaeaea;
    border-radius: 10px;
}

.button {
    padding: 10px 0;
    width: 400px;
    --text-color: #fff;
    --background-color: #000;
    font-weight: 500;
    color: var(--text-color);
    background-color: var(--background-color);
    border: 2px solid #000;
    border-radius: 10px;
    transition: all .3s cubic-bezier(.23, 1, 0.32, 1);
}

.button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.button:active {
  box-shadow: none;
  transform: translateY(0);
}