.container {
    display: flex;
    gap: 20px;
}

.dropFilter {
    display: flex;
    align-items: center;
    gap: 20px;
}

.searchInput {
    width: 400px;
    padding: 20px;
    --background-color: #fff;
    background-color: var(--background-color);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}