.container {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.dropFilter {
    display: flex;
    align-items: center;
    gap: 10px;
}

.form {
    display: flex;
    gap: 10px;
}

.searchInput {
    width: 600px;
    padding: 20px;
    --background-color: #fff;
    background-color: var(--background-color);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.button {
    padding: 16px;
    --background-color: #191917;
    background-color: var(--background-color);
    border-radius: 10px;
    transition: all .2s;
}

.button:hover {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.button:active {
    box-shadow: none;
}

.dropStatus {
    padding: 16px 32px;
    --background-color: #fff;
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: 15px;
}

.dropMetal {
    padding: 16px 32px;
    --background-color: #fff;
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: 15px;
}