.container {
    --background-color: #fff;
    background-color: var(--background-color);
    border-radius: 12px;
    border: 1px solid var(--border-color);
    overflow: hidden;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table thead tr {
    --background-color: #EBEFF5;
    background-color: var(--background-color);
    border-bottom: 1px solid var(--border-color);
}

.table thead th {
    padding: 12px 16px;
    --color-text: #8a8f9e;
    color: var(--color-text);
    text-align: left;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

.table tbody td {
    padding: 14px 16px;
    vertical-align: middle;
}

.table tbody tr {
    border-bottom: 1px solid var(--border-color);
}