.container {
    margin: 20px 0;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.card {
    padding: 40px;
    width: 300px;
    text-transform: uppercase;
    --background-color: #fff;
    background-color: var(--background-color);
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.cardHeader {
    padding-bottom: 15px;
    font-weight: 400;
    font-size: 18px;
    --text-color: #6c6c6c;
    color: var(--text-color);
}

.cardValue {
    font-weight: 700;
    font-size: 32px;
    --text-color: #000;
    color: var(--text-color);
}