.container {
    border-bottom: 1px solid var(--border-color);
}

.header {
    max-width: 1200px;
    padding: 20px 10px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.title {
    font-size: 28px;
    font-weight: 500;
}

.actionControl {
    display: flex;
    align-items: center;
    font-weight: 500;
    gap: 20px;
}

.createNewButton {
    height: 48px;
    padding: 2px 24px;
    border: 1px solid var(--border-color);
    border-radius: 24px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: all .2s;
}

.createNewButton:hover {
    --background-color: #e0e0e0;
    background-color: var(--background-color);
}

.logoutButton {
    padding: 10px;
    --text-color: #fff;
    color: var(--text-color);
    --background-color: #e74c3c;
    background-color: var(--background-color);
    border-radius: 24px;
    transition: all .2s;
}

.logoutButton:hover {
    --background-color: #c0392b;
    background-color: var(--background-color);
}