.container {
    flex: 1;
    overflow-y: auto;
    padding: 60px 140px;
    --background-color: #f5f5f5;
    background-color: var(--background-color);
    border-radius: 15px;
}

.header {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 80px;
}

.contentItemHeader {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-weight: 500;
    --color-text: #656562;
    color: var(--color-text);
    border: 1px solid #e5e6e1;
    border-radius: 10px 10px 0 0;
}

.contentItem {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid #e5e6e1;
    font-weight: 500;
}
