.container {
    width: 280px;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: var(--background-color);
}

.sidebarMenu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 20px;
    --text-color: #888886;
    color: var(--text-color);
    font-weight: 500;
}

.sidebarMenuItem {
    padding: 10px;
    border-radius: 5px;
    transition: ease-in-out .1s;
}

.sidebarMenuItem:hover {
    --background-color: #3f3f3f;
    background-color: var(--background-color);
    cursor: pointer;
}

.sidebarMenuItem:hover .menuItem {
    --text-color: #fff;
    color: var(--text-color);
}

.sidebarMenuItemActive {
    --background-color: #3f3f3f;
    background-color: var(--background-color);
}

.sidebarMenuItemActive .menuItem {
    --text-color: #fff;
    color: var(--text-color);
}

.menuItem {
    --text-color: #888886;
    color: var(--text-color);
}

.menuItemActive {
    --background-color: #3f3f3f;
    background-color: var(--background-color);
}
